#switch
NET "A"					LOC = AA10  | IOSTANDARD = LVCMOS15 ;#SW[0]
NET "B"					LOC = AB10  | IOSTANDARD = LVCMOS15 ;#SW[1]
NET "C"					LOC = AA13  | IOSTANDARD = LVCMOS15 ;#SW[2]
#NET "SW[3]"				LOC = AA12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[4]"				LOC = Y13   | IOSTANDARD = LVCMOS15 ;
NET "G"					LOC = Y12   | IOSTANDARD = LVCMOS15 ;#SW[5]
NET "G_2A"				LOC = AD11  | IOSTANDARD = LVCMOS15 ;#SW[6]
NET "G_2B"				LOC = AD10  | IOSTANDARD = LVCMOS15 ;#SW[7]
NET "Buzzer" LOC = AF24      | IOSTANDARD = LVCMOS33 ;

#NET "SW[8]"				LOC = AE10  | IOSTANDARD = LVCMOS15 ;
#NET "SW[9]"				LOC = AE12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[10]"			LOC = AF12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[11]"			LOC = AE8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[12]"			LOC = AF8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[13]"			LOC = AE13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[14]"			LOC = AF13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[15]"			LOC = AF10  | IOSTANDARD = LVCMOS15 ;

NET "Y0" 		LOC = AB26  | IOSTANDARD = LVCMOS33 ;#LED[0]
NET "Y1" 		LOC = W24   | IOSTANDARD = LVCMOS33 ;#LED[1]
NET "Y2" 		LOC = W23   | IOSTANDARD = LVCMOS33 ;#LED[2]
NET "Y3" 		LOC = AB25  | IOSTANDARD = LVCMOS33 ;#LED[3]
NET "Y4" 		LOC = AA25  | IOSTANDARD = LVCMOS33 ;#LED[4]
NET "Y5" 		LOC = W21   | IOSTANDARD = LVCMOS33 ;#LED[5]
NET "Y6" 		LOC = V21   | IOSTANDARD = LVCMOS33 ;#LED[6]
NET "Y7" 		LOC = W26   | IOSTANDARD = LVCMOS33 ;#LED[7]
